#nprogress {
  pointer-events: none;
  & .bar {
    top: 0;
    left: 0;
    height: 5px;
    z-index: 9999;
    width: 100%;
    position: fixed;
    background-color: var(--bg-default);
    box-shadow: 0 0 2px var(--bg-default);
  }
  & .peg {
    right: 0;
    opacity: 1;
    width: 100;
    height: 100%;
    display: block;
    position: absolute;
    transform: rotate(3deg) translate(0px, -4px);
    box-shadow:
      0 0 10px var(--bg-default),
      0 0 5px var(--bg-default);
  }
}
